//colors
$violet : hsl(257, 40%, 49%);
$softMagenta : hsl(300, 69%, 71%);
$white-60 : hsla(0, 0%, 100%, 60%);
$white-80 : hsla(0, 0%, 100%, 80%);

//Font sizes
$font-sm: 0.875rem; //14px
$font-md: 1rem; //16
$font-lg: 1.25rem; // 20
$font-2xl: 1.5rem; //24
$font-3xl: 1.75rem; //52